@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  touch-action: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@keyframes splash {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0.1;
    scale: 5;
    display: none;
  }
}

.text-vertical-lr {
  writing-mode: vertical-lr;
}

.animation-splash {
  animation-name: splash;
  animation-duration: 500ms;
  animation-delay: 500ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

div .text-huge {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

div .text-big {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

div .text-small {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

div .text-tiny {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

div ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}
div li::marker {
  font-weight: bolder;
  line-height: 1.5rem;
  font-size: x-large;
}
div.light li::marker {
  color: rgb(26, 122, 171);
}
div.light.swappedColors li::marker {
  color: rgb(196, 86, 30);
}
div.dark li::marker {
  color: rgb(26, 122, 171);
}
div.dark.swappedColors li::marker {
  color: rgb(196, 86, 30);
}

div table {
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0.5rem 0.5rem;
  border-width: 1px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  max-width: 640px;
}
div td {
  border-width: 1px;
  padding: 0.25rem;
  overflow: hidden;
  font-size: small;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
div th {
  border-width: 1px;
  padding: 0.25rem;
  font-size: small;
}
div.light th {
  color: rgb(26, 122, 171);
  background-color: #f5f5f5;
}
div.light.swappedColors th {
  color: rgb(196, 86, 30);
  background-color: #f5f5f5;
}
div.light tr:nth-child(even) {
  background-color: #f5f5f5;
}
div.dark th {
  color: rgb(26, 122, 171);
  background-color: #313131;
}
div.dark.swappedColors th {
  color: rgb(196, 86, 30);
  background-color: #313131;
}
div.descriptions.dark tr:nth-child(even) {
  background-color: #313131;
}
