@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  touch-action: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

div.conditions ul {
  list-style-type: disc;
  padding-left: 1rem;
}
div.descriptions ul {
  list-style-type: disc;
  padding-left: 1rem;
}

div.descriptions table {
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0.5rem 0.5rem;
  border-width: 1px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
div.descriptions td {
  border-width: 1px;
  padding: 0.5rem;
}
div.descriptions th {
  border-width: 1px;
  padding: 0.5rem;
}
div.descriptions.light th {
  color: rgb(26, 122, 171);
  background-color: #f5f5f5;
}
div.descriptions.light.swappedColors th {
  color: rgb(196, 86, 30);
  background-color: #f5f5f5;
}
div.descriptions.light tr:nth-child(even) {
  background-color: #f5f5f5;
}
div.descriptions.dark th {
  color: rgb(196, 86, 30);
  background-color: #313131;
}
div.descriptions.dark.swappedColors th {
  color: rgb(26, 122, 171);
  background-color: #313131;
}
div.descriptions.dark tr:nth-child(even) {
  background-color: #313131;
}
